.textimg.textimg_3.
	.container
		.textimg__img
			img(src='img/img-3.png' srcset='img/img-3@2x.png 2x, img/img-3@3x.png 3x')
		.textimg__img
			img(src='img/img-4.png' srcset='img/img-4@2x.png 2x, img/img-4@3x.png 3x')
		.textimg__text
			p.text.text_full.column.column_right.
				Большинство локальных поставщиков — это дочерние подразделения международных компаний, работающие с концерном по всему миру. Они внедряют в России новейшие технологии и учат наших рабочих обращаться с самым современным оборудованием. А ведь заводы требуют не только рабочих, но и инженеров, технологов и конструкторов. Автомобили, произведённые в России, имеют европейское качество: их можно поставлять на экспорт в страны ЕС. Модельный ряд ŠKODA, представленный у нас, — самый современный. Ограничения на экспорт если и есть, то носят, скорее, логистический характер: как минимум продукции надо будет дважды проходить таможню. Сначала — в виде комплектующих, которые приходят из Чехии, потом — в виде готового к отправке в Евросоюз автомобиля. Это, конечно, влияет на экономику процесса, но работа ведётся и в данном направлении. Впрочем, уточним: автомобили, собранные в России, несколько отличаются от европейских. Например, в них устанавливаются аккумуляторы увеличенной ёмкости — с учётом наших зим, и усиленная подвеска — с учётом наших дорог.
