.textimg.textimg_1
	.container
		.textimg__img
			img(src='img/img-1.png' srcset='img/img-1@2x.png 2x, img/img-1@3x.png 3x')
		.textimg__text
			p.text.text__full.column.column.right.
				Кроме того, государство поощряет местное производство. Выигрывает покупатель: он получает автомобиль по более привлекательной цене. Посмотрите, сколько стоят автомобили ŠKODA в Германии, на главном европейском рынке чешской марки, а потом переведите по курсу в рубли. Вопросов по поводу «нашей дороговизны» больше не останется никаких. Локальное производство избавляет от дефицита. ŠKODA популярна во всём мире, а возможности заводов в Чехии не безграничны. Не будь производства в России, регулярно возникала бы ситуация, когда нашим покупателям приходилось бы долго ждать нужного автомобиля. Или подыскивать себе что-то другое.
			p.text.text__full.
				Выигрывает наша страна. Выигрывает буквально, экономически, в деньгах, получая миллионы рублей налогов, и выигрывает в том, что принято называть «человеческим капиталом». Предприятия обеспечивают работой тысячи людей, а перед тем, как допустить новых сотрудников к производству, концерн Volkswagen вкладывает в их обучение силы и время, рассказывая и показывая, что значит «выпускать продукцию по самым строгим европейским стандартам». Звучит, возможно, пафосно, но на российских предприятиях, где собирают автомобили ŠKODA, трудятся специалисты мирового уровня. Квалификация рабочих — точно такая же, как у их коллег в Германии или Чешской Республике. Иначе и быть не может. Пока человек не сдаст экзамены, показав, что может работать быстро и хорошо, его просто не допустят на конвейер. А выстроенная система контроля качества — это ежедневный экзамен на профпригодность. Для всех: от директора завода до стажёра.
