//colors

$white: #ffffff;
$black: #000000;

$bg-gray: #f0f0f0;

$graytext: #434343;
$graytext-bold: #434343;


//font-setup

$font-fam: 'SkodaPro';

$font-1-local: 'SkodaPro';
$font-1-url1: '../fonts/skodapro_regular.woff';
$font-1-url2: '../fonts/skodapro_regular.woff2';

$font-2-local: 'SkodaPro Bold';
$font-2-url1: '../fonts/skodapro_bold.woff';
$font-2-url2: '../fonts/skodapro_bold.woff2';
